/**CORES: Hexadecimal, RGB e com os nomes das cores, O CSS não aceita a representação das cores em binários e numérica. */
/** Estrutura do css segue a estrutura do html */
body{
 
}

.principal {
    background: #CCCCCC 
}

#banner{ /** chamada por id */
    width: 100%;
}

h1 {
    text-align: center
}

p {
    text-align: center
    
}

#missao{ 
    font-size: 20px;
    text-align: center
}

em strong{ /** vai buscar o strong apenas dentro do em */
    color: #FF0000
}

.itens{

}

.beneficios{
    background: #FFFFFF
}